{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    Quotation Approval
</h2>

<table class="table table-bordered">

    <thead class="table-dark">

        <tr>

            <th>ID</th>
            <th>RFQ</th>
            <th>Vendor</th>
            <th>Price</th>
            <th>Delivery</th>
            <th>Status</th>
            <th>Action</th>

        </tr>

    </thead>

    <tbody>

        {% for q in quotations %}

        <tr>

            <td>{{ q.0 }}</td>
            <td>{{ q.1 }}</td>
            <td>{{ q.2 }}</td>
            <td>₹ {{ q.3 }}</td>
            <td>{{ q.4 }} Days</td>
            <td>{{ q.5 }}</td>

            <td>

                <a
                href="?approve={{ q.0 }}"
                class="btn btn-success btn-sm">

                    Approve

                </a>

                <a
                href="?reject={{ q.0 }}"
                class="btn btn-danger btn-sm">

                    Reject

                </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}