{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">

    Welcome {% if name %}{{ name }}{% else %}{{ email }}{% endif %}

</h2>

<h5 class="text-muted mb-4">

    Role: {{role}}

</h5>

<div class="row">

    <div class="col-md-3">

        <div class="card shadow p-3">

            <h5>
                Active RFQ
            </h5>

            <h2>
                5
            </h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow p-3">

            <h5>
                Pending Approvals
            </h5>

            <h2>
                2
            </h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow p-3">

            <h5>
                Purchase Orders
            </h5>

            <h2>
                3
            </h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow p-3">

            <h5>
                Invoices
            </h5>

            <h2>
                7
            </h2>

        </div>

    </div>

</div>

{% endblock %}
