{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">

    Welcome
    {% if name %}
        {{ name }}
    {% else %}
        {{ email }}
    {% endif %}

</h2>

<h5 class="text-muted mb-4">

    Role: {{ role }}

</h5>

<div class="row">

    <!-- Vendors -->

    <div class="col-md-3 mb-3">

        <div class="card shadow p-3">

            <h5>
                Vendors
            </h5>

            <h2>
                {{ vendor_count }}
            </h2>

        </div>

    </div>

    <!-- RFQ -->

    <div class="col-md-3 mb-3">

        <div class="card shadow p-3">

            <h5>
                Active RFQ
            </h5>

            <h2>
                {{ rfq_count }}
            </h2>

        </div>

    </div>

    <!-- Approvals -->

    <div class="col-md-3 mb-3">

        <div class="card shadow p-3">

            <h5>
                Pending Approvals
            </h5>

            <h2>
                {{ approval_count }}
            </h2>

        </div>

    </div>

    <!-- Purchase Orders -->

    <div class="col-md-3 mb-3">

        <div class="card shadow p-3">

            <h5>
                Purchase Orders
            </h5>

            <h2>
                {{ purchase_order_count }}
            </h2>

        </div>

    </div>

    <!-- Invoices -->

    <div class="col-md-3 mb-3">

        <div class="card shadow p-3">

            <h5>
                Invoices
            </h5>

            <h2>
                {{ invoice_count }}
            </h2>

        </div>

    </div>

</div>

{% endblock %}